

*{
    padding:0;
    margin:0;

}
nav{
    background-color:black;
    color:wheat;
    
    flex-wrap:wrap;
    display: flex;
    justify-content:space-between;
    
 

}
.selva{
    justify-content:space-between;
    flex-wrap:wrap;
    

}
h1{
    
    color:rgb(199, 28, 28);
    font-size: 30px;
    flex-basis:3%;
    flex-grow: 1;
    
}


li,ul{

    display:inline-block;
    color:gray;
    font-size:40px;
    flex-basis:3%;
    flex-grow: 0.9;
    
}


  
h2{
    display:inline-block;
    color:whitesmoke;
    
    font-size: 50px;
    position:relative;
    flex-basis:3%;
    flex-grow: 1;
    
    
}
@media screen and (max-width:1075px){
    h2{
        
        font-size: 30px;
        flex-grow: 1;
    }
    li,ul{
        font-size:20px;
        flex-grow: 1;

    }
}
@media screen and (max-width:563px){
    h2{
        
        font-size: 15px;
        flex-grow: 1;
    }
    li,ul{
        font-size:13px;
        flex-grow: 1;

    }
    h1{
    
        
        font-size: 10px;
        flex-basis:3%;
        flex-grow: 1;
        
    }


}



li:hover{
    color:white;
    cursor: pointer;
 

}
@media screen and (max-width:347px){
    h2{
        
        font-size: 10px;
        flex-grow: 1;
       
    }
    li,ul{
        font-size:8px;
        flex-grow: 1;
        

    }
    h1{
    
        
        font-size: 6px;
        flex-basis:3%;
        flex-grow: 1;
       
        
    }


}



li:hover{
    color:white;
    cursor: pointer;
 

}
h2:hover{
    color:gold;
    cursor: not-allowed;
}
.one{
    margin:7px;
    padding:9px;
    border-color: black;
    border-style: groove;
    border-width: 3px;
    background-color: lightslategray;
    color:white;

}
p:hover{
    cursor:pointer;
}